#navbar
{
    width: 100%;
    height: 75px;
    border: 1px solid transparent;
    display: flex;
    background-color: #008ecc;
}
#sidebar
{
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-left: 70px;
   background-color: #008ecc;
}
#homelogo
{
    width: 120px;
    height: 40px;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-left: 40px;
}
#searchbar
{
    width: 700px;
    height: 42px;
    margin-left: 40px;
    border: 1px solid transparent;
    margin-top:16px;
    display: flex;
}
#signupin
{
    width: 170px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    border: 1px solid transparent;
   
}
#signupicon
{
    width: 30px;
    height: 40px;
    border: 1px solid transparent;
}
#inup
{
    width: 140px;
    height: 40px;
    border: 1px solid transparent; 
    margin-bottom: 90px;
    justify-content: center;
 margin-top: 5px;
}
#inup> a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
   
    
}

#cart
{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    border: 1px solid transparent;
}
#cartlogo
{
    width: 20px;
    margin-top: -5px;
    border: 1px solid transparent;
}
#cartt
{
    width: 140px;
    height: 40px;
    border: 1px solid transparent; 
    margin-top: 4px;

}
#cartt>a
{
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 18px;
}
input
{
    width: 650px;
    height: 36px;
    border:1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}
::placeholder
{
    font-size: 14px;
    border: 1px solid white;
}
#btnx
{
    border: 1px solid white;
    width: 120px;
    height: 40px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#btnx>a>img{
    margin-top: 6px;
    margin-right: 10px;
}
#smallnavbar
{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    background-color: #ececed;
    display: flex;
    justify-content: space-evenly;
}
#smallnavbar>div{
 width: 130px;
 height: 40px;
 border: 1px solid red;
 margin-left: 40px;margin-top: 5px;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#nav{
 display: flex;
  z-index: 99;
  width: 100%;
  
  background: #d8d8d9;
}
#nav .wrapper{
  position: relative;
  height: 50px;
  line-height: 70px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
  margin-left: 23px;
}
.nav-links li a{
  color:black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}
.nav-links li a:hover{
  background: #d8d8d9;
  color: blue;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background:#d8d8d9;
  color: blue;
  width: 380px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
 
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 50px;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  right: 100;
  width: 100%;
  padding: 10 30px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #d8d8d9;
  padding: 25px 20px;
  display: flex;
  width: 52%;
  justify-content: space-between;
 
}
.mega-box .content .row{
  width: 80%;
  line-height: 40px;
}

.content .row header{
  color: blue;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -22px;
  border-left:  2px solid rgba(19, 17, 17, 0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: black;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: blue;
}
.wrapper .btn{
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}



#box_
  {
    width: 170px;
    height: 70px;
    border: 1px solid transparent;
    display: flex;
  }
  #box_2
  {
    width: 30px;
    height: 70p;
    border: 1px solid transparent;
    align-items: center;
  }
  #box_2>a>img
  {
    width: 28px;
    margin-top: 20px;
  }
  #box_3
  {
    width: 140px;
    height: 70px;
    border: 1px solid transparent;
    line-height: 70px;
  }
  #box_3>p{
    font-size: 15px;
    margin-top: 0px;
  }
 #box_3>p> a{
    text-decoration: none;
  }