@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');

body{
    background-color: #f6f6f7;
    font-family: Roboto;
}

#main{
    background-color: white;
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
}

#main>#text{
    width: 750px;
    box-sizing: border-box;
    padding-left: 170px;
    padding-top: 20px;
}

#image>img{
    border-radius: 15px 0px 0px 0px;
}

#button{
    width: 85%;
    color: white;
    background-color: #008ecc;
    padding: 10px 24px;
    border: transparent;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 30px;
}

#button:hover{
    cursor: pointer;
}

#txt1{
    margin-top: -12px;
    margin-bottom: 40px;
    font-size: 14px;
    color: rgb(105, 102, 102);
}

#txt2{
    color: rgb(105, 102, 102);
    font-size: 11px;
    margin-top: -24px;
    margin-bottom: 40px;
}

#txt3{
    margin-top: -12px;
    margin-bottom: 20px;
    font-size: 13px;
    color: rgb(105, 102, 102);
}

#txt4{
    color: red;
    font-size: 12px;
    margin-top: -40px;
    margin-bottom: 20px;
    font-style: italic;
}

#end{
    width: 300px;
    font-size: 13px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#first_name{
    border: 1px solid rgba(197, 189, 189, 0.637);
    width: 85%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 45px;
}

#last_name{
    border: 1px solid rgba(197, 189, 189, 0.637);
    width: 85%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 45px;
}

#login_email{
    border: 1px solid rgba(197, 189, 189, 0.637);
    width: 85%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 45px;
}

#login_password{
    border: 1px solid rgba(197, 189, 189, 0.637);
    width: 85%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 25px;
}

#login_password_check{
    border: 1px solid rgba(197, 189, 189, 0.637);
    width: 85%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 45px;
}

#login_OTP{
    border: 1px solid rgba(197, 189, 189, 0.637);
    width: 85%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
}

#OTP_verify{
    color: red;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 20px;
}