#nav{
    background: #008ecc;
    margin-top: -10px;
    height: 90px;
    margin-left: -10px;
}
#mark{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 19px;
    padding-left: 3px;
}
.head{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 19px;
    padding-left: 10px;
}
#navb{
    margin-left: 100px;
    margin-top: 30px;
}
.gmap_canvas
{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:500px;
}
#gmap_canvas{
    margin-top: 32px;
    margin-left: 45px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
#cartva{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 17px;
    margin-top: 40px;
    margin-left: 10px;

}
.cart{
    width: 90px;
    height: 1px;
    margin-top: 26px;
    background-color: gray;
    margin-left: 15px;
}
.ccc{
    margin-left: 5px;
    margin-top: 17px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.logo78{
    margin-left: 10px;
}
.gtm{
    position: absolute;
    font-size: 21px;
    margin-left: 400px;
    margin-top: -43px;
}
.name23{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 50px;
    color: black;
}
.byn
{
    width: 300px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 95px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    background: #008ecc;
    margin-top: 75px;
    color: #fff;



}
.saving{
    position: absolute;
    font-size: 18px;
    margin-left: 315px;
    margin-top: -0px; 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #00a100;
}
.h89{
    position: absolute;
    font-size: 20px;
    margin-left: 405px;
    margin-top: -43px; 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}
.no1{
    position: absolute;
    font-size: 21px;
    margin-left: 415px;
    margin-top: -43px; 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}
.no{
    position: absolute;
    font-size: 21px;
    margin-left: 415px;
    margin-top: -43px; 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
}
#line1{
    height: 1px;
    width: 400px;
    position: absolute;
    margin-left: 40px;
    margin-top: 0px;
    background-color: grey;
}
#line{
    height: 1px;
    width: 400px;
    position: absolute;
    margin-left: 40px;
    margin-top: 0px;
    background-color: grey;
}
#mr{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 30px;
    color: grey;


}
.stm{
    position: absolute;
    font-size: 21px;
    margin-left: 390px;
    margin-top: 30px;
}
.hjl{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 50px;
    color: grey;

}
.vtm{
    position: absolute;
    font-size: 21px;
    margin-left: 390px;
    margin-top: 101px;
}
#foo{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
    color: #000000;

}
#enter{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(71, 50, 50);
    font-weight: lighter;
    font-size: 22px;
    margin-top: -10px;
    position: absolute;
}
.mycart{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-left: 1104px ;
    margin-top: -75px;
    position: absolute;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(71, 50, 50);
    font-weight: lighter;
    font-size: 22px;


}
#payment{
    height: 450px;
    width: 500px;
    position: absolute;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-left: 1100px;
}
#main{
    display: flex;
    margin-top: 50px;
    /* border: 1px solid red; */
}
#process{
    margin-top: -20px;
    position: absolute;
    display: flex;
    width: 600px;
    margin-left: 1035px;
}
#form>div{
    margin: 10px 0px;
}
.head1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(71, 50, 50);
    font-weight: lighter;
    font-size: 22px;
    padding-left: 10px;
}
input{
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(71, 50, 50);
    font-weight: lighter;
    font-size: 22px;
    text-transform:capitalize;
}

#CITY{
    display: flex;
    justify-content: space-between;
}
#CITY>div{
    width: 45%;
    overflow:hidden ;
}
#as{
    display: flex;
}
.you{
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(71, 50, 50);
    font-size: 21px;
}
body{
    background-color: rgb(241, 241, 245);;
}
#home{
    cursor: pointer;
    border-radius: 40px;
    white-space: nowrap;
    align-self: center;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 6px 10px;
    border: 1px solid #282c3f;
    color: #282c3f;
    /* font-size: 12px; */
    /* border: 1px solid #ff3f6c;
    color: #ff3f6c; */
}
#form{
    border: 1px solid grey;
    width: 500px;
    background-color: #FFFFFF;
}
#work{
    cursor: pointer;
    border-radius: 40px;
    white-space: nowrap;
    align-self: center;
    height: fit-content;
    margin-right: 6px;
    padding: 6px 10px;
    /* font-size: 12px; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: 1px solid #282c3f;
    color: #282c3f;
}
#incity{
    width: 190px;
}
#incity>input{
    background-color: #f5f5f6;
    border: none;
}
#instate{
    color: #008ecc;
    position: absolute;
    width: 190px;
    margin-left: -30px;
}
#state>input{
    background-color: #f5f5f6;
}
#default{
    display: flex;
    /* align-content: center; */
}
#default>input{
    width: 20px;
    /* align-self: center; */

}
/* #default>p{
    display: block;
    margin-left: 6px;
    font-size: 13px ;
} */
#addaddress{
    margin-top: 0px!important;
}
#addbutton{
    background-color: #ff3f6c!important;
    color: white!important;
    /* font-size: 14px!important; */
    /* border-radius: 4px!important; */
    padding: 14px!important; 
    text-align: center;
    margin: 5px;
    border: none;
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 300px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 95px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    /* background: #008ecc; */
    margin-top: 5px;
    /* color: #fff;/ */
}
