* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height: 70px;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: transparent;

}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #018fd7;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#box1,#box2,#box3,#box4{
    width: 100%;
} 

#box1 img,#box2 img, #box3 img, #box4 img{
  width: 100%;
}



/* second slider */
.parent{
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.child{
  width: 14%;
  margin-left: 1px;
  margin-right: 2px;
  display: none;
 

}

.child img{
  width: 150px;
  height: 200px;
  
  
}

#left button, #right button{
  font-size: xx-large;

  cursor: pointer;
  /* background-color: blueviolet; */
  height: 50px;
  width: 40px;

  color: grey;
  border: none;
}

img:hover{
  width: 155px;
  height: 205px;

}

#fifthbox{
  width: 100%;
  margin-top: 10px;
}

#fifthbox img{
  width: 100%;
}









